{%extends "side.html"%}

{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/perm.css') }}">
{% endblock %}


{% block perm %}

<h4 class="f_h4">Apply for Renewal of License</h4>

{%if(al<2)%}
<h4 class="p_h4"> !Apply for The Learning license,No Regestartion Number found</h4>
{%elif(al==2 and per==0)%}
<h4 class="p_h4">Apply for the Permanent License</h4>
{%elif(al==2 and per==1)%}
<h4 class="p_h4">Permanent License Not Yet Approved</h4>
{%elif(per==2)%}
    
    <div class="row">
        <div class="col">
          <span class="l_h4">License ID: <span><span class=o_h4>{{id}}</span>
        </div>
        <div class="col">
          <span class="l_h4">Registration Date : </span><span class="o_h4">{{dt}}</span>
        </div>
        <div class="col">
            {%if(tm<=20 and re==0)%}
            <span class="l_h4">Status: </span><span class="o_h4" style="color: rgb(144, 231, 13)">Valid</span>
            {%elif(re==0)%}
            <span class="l_h4">Status: </span><span class="o_h4" style="color: greenyellow">Expired</span>
      
            <a href="{{url_for("permanent",name=l[11],email=l[4])}}">  <button type="submit" value="Submit" class="apply" style="height:40px;width:130px;background-color:blueviolet;color:white;border:none;font-weight: 500">Apply</button></a>
            {%elif(re==1)%}
            <span class="l_h4">Status: </span><span class="o_h4" style="color: rgb(144, 231, 13)">Applied</span>
            {%elif(re==2)%}
            <span class="l_h4">Status: </span><span class="o_h4" style="color : rgb(208, 255, 249)">Renewed</span>
            {%endif%}
        </div>
      </div>
    </div>
{%endif%}

{% endblock %}