<!DOCTYPE html>
<html>
<head>
  
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/side.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>   
        
                <div class="left">
                                <div class="head">
                                        <h1>Hello, {{l[11]}}</h1>
                                </div>
                                {%if(page==0)%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=0)}}"><h4><i class='fas fa-play' style='font-size:24px;color: white;'></i>Apply For Learning License</h4></a>
                                {%else%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=0)}}"><h4>Apply For Learning License</h4></a>
                                {%endif%}

                                {%if(page==1)%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=1)}}"><h4><i class='fas fa-play' style='font-size:24px;color: white;'></i>Apply For Permanet License</h4></a>
                                {%else%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=1)}}"><h4>Apply For Permanet License</h4></a>
                                {%endif%}
                                {%if(page==2)%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=2)}}"><h4><i class='fas fa-play' style='font-size:24px;color: white;'></i>Renewal of License</h4></a>
                                {%else%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=2)}}"><h4>Renewal of License</h4></a>
                                {%endif%}
                                {%if(page==3)%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=3)}}"><h4><i class='fas fa-play' style='font-size:24px;color: white;'></i>Lost Driving License</h4></a>
                                {%else%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=3)}}"><h4>Lost Driving License</h4></a>
                                {%endif%}
                                {%if(page==4)%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=4)}}"><h4><i class='fas fa-play' style='font-size:24px;color: white;'></i>My Details</h4></a>
                                {%else%}
                                <a href="{{url_for('sidebar',name=l[11],email=l[4],page=4)}}"><h4>My Details</h4></a>
                                {%endif%}

                                 
                                <div>
                                
                                  
                                  
                                        
                                
                    <button  style="position: relative;top:50px;left:30%;height:40px;width:130px;background-color:blueviolet;color:white;border:none" onclick="location.href='{{url_for('logout')}}';"> <h6>Logout</h6></button>
                    </div>  
                </div>
                <div class="right">
                <div class="colm container">
                    <h4 style="text-align: center ;color:white;">Apply for Learning Driving License</h4>

                 {%if(al==0)%}   
                    {%if(age>=18)%}
                    <div class="row down">

                     <div class="col"><h3 >Name: {{l[1]}}{{" "}}{{l[2]}}{{" "}}{{l[3]}}</h3></div>
                        <div class="col"><h3>Age:{{age}}</h3></div>
                        <form method="POST" action="{{url_for('apply',name=l[11],email=l[4])}}">
                        
                          <select name= "tvalue" class=" posi col button" style="right: 20px;">
                            <option value="...">Type of Vehicle</option>
                            <option value="MC 50cc">MC 50cc</option>
                            <option value="MCX 50CC">MCX 50CC</option>
                            <option value="LMV">LMV</option>
                            <option value="LMV-NT">LMV-NT</option>
                            <option value="LMV-TR">LMV-TR</option>
                            <option value="HMV">HMV</option>
                            <option value="LMV-TR">LMV-TR</option>
                            <option value="HPMV">HPMV</option>
                            <option value="HTV">HTV</option>
                         </select>
              
                        <input type="submit" value="Submit" class="apply" style="height:40px;width:130px;background-color:blueviolet;color:white;border:none;font-weight: 500">
                        </form>
                      </div>  
                     {%else %}
                     <h4  style="text-align: center">Sorry you are under 18.You can not apply for the License</h4>   
                    {%endif%}    
                    

                  {%elif(al==1)%}  

                  <div class="row down">

                      <div class="col"><h3 >Name: {{l[1]}}{{" "}}{{l[2]}}{{" "}}{{l[3]}}</h3></div>
                         <div class="col"><h3>Age:{{age}}</h3></div>
                        <div class="col" > 
                         <h3 class="" style="color: rgb(144, 231, 13)"><span style="color: white">Status:</span>Pending</h3>
                       </div>
                      </div> 
                      {%elif(al==2)%}  

                      <div class="row down">
    
                          <div class="col"><h3 >Name: {{l[1]}}{{" "}}{{l[2]}}{{" "}}{{l[3]}}</h3></div>
                             <div class="col"><h3>Age:{{age}}</h3></div>
                            <div class="col" > 
                             <h3 class="" style="color: rgb(144, 231, 13)"><span style="color: white">Status:</span>Approved</h3>
                           </div>
                          </div> 
               

                  {%endif%}

                </div>
              </div>
              <div class="clearfix"></div>
                         
</body>
</html> 
